* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "poppins";
}

body {
    align-items: center;
    flex-direction: column;
    background-color: #1e293b;
    display: flex;
    margin-top: 32vh;
}

header {
    color: #94a3b8;
    margin-bottom: 30px;
}

.add {
    margin-bottom: 40px;
    margin-inline: auto;
}

.mais {
    padding-inline: 10px;
    padding-block: 1px;
    margin-bottom: 40px;
}

h1 {
    font-size: 50px;
}

li {
    list-style: none;
}

#concluido_pendente {
}

label {
    color: #e2e8f0;
    font-size: 20px;
}

button {
    border: none;
}

.lapis {
    width: 40px;
    height: 40px;
}

.lixeira {
    width: 40px;
}
